/*top bar*/
.base-top-bar{
    @extend .top-bar;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    .top-bar-section ul li > a{
        color:#000000;
        font-size:1em;
        font-weight:bolder;
    }
}
/*row 區塊*/
.base-row{
    @extend .row;
    padding: 20px 0px 0px 0px;
}
/*圓角 button*/
.list-btn{
    @extend .button;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
}
/*圓形按鈕*/
.circle-btn{
    margin:0px auto;
    font-size:1em;
    .button{
        padding:10px;
        margin:0px;
        border-radius:100%;
    }
}
